{% extends 'base.html.twig' %}

{% block title %}ProjectX | Users{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css" integrity="sha256-jKV9n9bkk/CTP8zbtEtnKaKf+ehRovOYeKoyfthwbC8=" crossorigin="anonymous" />
        <style>
.cropper-container {
    width: auto !important;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin-left: auto;
    border: 1px solid red;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="header-title my-3">Users</h4>
            <button type="button" class="btn btn-primary float-end add-btn">
                Add a new user
            </button>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if 'ROLE_ADMIN' in user.roles %} Admin
                        {% else %} User {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_user_edit', {'id' : user.id })}}" class="btn btn-sm btn-secondary btn-edit">Update</a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm btn-delete" data-id="{{ user.id }}">Delete</a>
                        <form id="deleteForm{{user.id}}" action="{{ path('app_user_delete', {'id': user.id})}}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_user') }}" >
                        </form>
                    </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation mx-auto mt-4">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js" integrity="sha256-CgvH7sz3tHhkiVKh05kSUgG97YtzYNnWt6OXcmYzqHY=" crossorigin="anonymous"></script>

<script>
    $('.btn-delete').click(function(){
        let id = $(this).attr('data-id');
        if (confirm("Are you sure ?")) {
            $('#deleteForm'+id).submit();
        }
    });

    $('.add-btn').click(function(){
        $.get('/user/add', function(data) {
            $('#mainModal .modal-content').html(data);
            $('#mainModal').modal('show');
        })
    });

    $('.btn-edit').click(function(e){
        e.preventDefault();
        let href = $(this).attr('href');
        $.get(href, function(data) {
            $('#mainModal .modal-content').html(data);
            $('#mainModal').modal('show');
        })
    });
</script>
{% endblock %}
